black
flake8
python-dotenv
requests
fastapi
fastapi-route-logger-middleware
sqlalchemy
uvicorn[standard]
debugpy
alembic
sqlalchemy-seeder
psycopg2
pytest
httpx
sqlalchemy_utils

cd ./practical-fastapi
asdf local python 3.11.5
poetry run pytest